<div class="p-5" id="<%= dom_id movie %>">
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
  <!-- height: 132 -->
    <%= image_tag movie.poster_image, size: "255x132", class: "w-full max-h-40 object-cover" %>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2"><%= movie.name %> (<%= movie.year ? movie.year : "?" %>)</div>
      <p class="text-gray-700 text-base">
        <%= movie.premise %>
      </p>
    </div>
    <div class="px-6 pt-1 pb-2">
      <strong>Must see:</strong>
      <%= Movie.enum_to_s :must_see, movie.must_see %>
    </div>
  </div>
</div>
