<div class="p-5 flex-none w-80" id="<%= dom_id movie %>">
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="aspect-16/9">
      <%= image_tag movie.poster_image, class: "w-full h-full object-cover" %>
    </div>
    <div class="px-6 py-4">
      <p class="font-bold text-gray-900"><%= movie.name %></p>
      <p class="text-gray-400 text-xs"><%= movie.year ? movie.year : "?" %></p>
      <p class="text-gray-700 text-sm mt-2">
        <%= movie.premise %>
      </p>
    </div>
    <div class="px-6 pt-1 pb-2">
      <strong>Must see:</strong>
      <%= Movie.enum_to_s :must_see, movie.must_see %>
    </div>
  </div>
</div>
